body {
  background: linear-gradient(180deg, #020617, #0f172a);
  color: white;
  font-family: Arial;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 40px;
}

.top-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px;
  flex-wrap: wrap;
}

#map {
  background: #020617;
  border-radius: 12px;
}

.controls {
  margin-top: 15px;
}

/* slider */
input[type="range"] {
  width: 350px;
  height: 6px;
  background: #334155;
  border-radius: 5px;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 40px;
  height: 40px;
  background: url("img/car.png") no-repeat center;
  background-size: contain;
  appearance: none;
}

/* botão */
button {
  background: #ef4444;
  border: none;
  padding: 8px 16px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.top-controls {
  margin: 15px;
}

select {
  padding: 6px 10px;
  border-radius: 6px;
  background: #020617;
  color: white;
  border: 1px solid #334155;
}

.calendar-container {
  margin: 20px auto;
  width: 900px;
  text-align: left;
}

.calendar-container h3 {
  margin-left: 10px;
  color: #94a3b8;
}